<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- @WebServlet("/ProductServlet") -->
	<servlet>
		<!-- 逻辑名 -->
		<servlet-name>DispatcherServlet</servlet-name>
		<!-- 类全名 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义配置mvc的加载路径 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc-bean.xml</param-value>
		</init-param>
		<!-- servlet默认是第一次被访问的时候实例化,且常驻内存(单例模式) -->
		<!-- load-on-startup: 在项目启动的时候实例化,而且默认加载: /WEB-INF/DispatcherServlet-servlet.xml -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<!-- 此名称100%与上面的 servlet-name一样 -->
		<servlet-name>DispatcherServlet</servlet-name>
		<!-- 地址过滤有两种: /abc/aaa 目录过滤, 另一种后缀过滤: *.abc -->
		<url-pattern>*.mvc</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-*.xml</param-value>
	</context-param>	
	
	<listener>
	    <!-- 完成了spring配置文件的加载,并且存储到application内置对象中,此对象在项目中只有一份 -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	

</web-app>